<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css')}}">
    <!-- <script src=""></script> -->

  </head>
  <body>
    <h1>LangChain ⛓️ | FastAPI 🌐</h1>
    <div id="container"></div>
    <div id="error-field"></div>

    <form class="flex flex-col items-center justify-center">
      <textarea
        required
        class="w-[50%] h-48 p-4 mb-4 border border-gray-400 rounded-lg focus:outline-none focus:ring focus:border-blue-500"
        placeholder="Enter your text here..."
      ></textarea>
      <button
        type="button"
        id="menuBtn"
        class="px-10 py-2 text-gray-200 bg-purple-600 rounded-full shadow-md text-lg hover:bg-gray-800 hover:border-red"
      >
        Make Request
      </button>
    </form>

    <script>
      const containerDisplay = document.getElementById("container");
      const form = document.getElementById("myForm");
      const menuBtn = document.getElementById("menuBtn");
      const errorField = document.getElementById("error-field");

      menuBtn.addEventListener("click", async function () {

        errorField.innerText = "";
        this.setAttribute("disabled", true);
        this.innerText = "Waiting...";
        containerDisplay.innerHTML = ""

        const response = await fetch("/request");
        const data = await response.json();
        if (response.ok) {
          containerDisplay.innerText = data.message;
        } else {
          errorField.innerText = data.detail;
        }
        
        this.removeAttribute("disabled");
        this.innerText = "Make Request";
      });
    </script>
  </body>
</html>
